@import 'common/colors.sass'
$primary-color: $fg2;
@import 'loaders.css/src/animations/square-spin.scss'

@import 'common/longshadow.scss'
@import 'common/bendedShadow.sass'

html
  font-size: 100%
  box-sizing: border-box;

*, *:before, *:after
  box-sizing: inherit;

html,
body
  font-smoothing: antialiased;

a
  color: $fg2

#root
  background-color: $bg1

.headroom-wrapper
  margin: 0 15px

.headroom
  @include bendedShadow()
  & .row
    background-color: $bg2
    position: relative
  h1
    @include longshadow(rgba(darken($bg2, 15%), .05), 70)

.nav-bar
  display: flex
  flex-flow: row wrap
  margin: 0 1em
  .headroom--pinned &
    margin: 0 2em
  .menu-item
    flex-grow: 1
    text-align: center
    border-radius: 3px
    padding: .5em
    margin: .1em
    &:hover, &:active, &:focus, &.active
      text-decoration: none
      outline: none

#viewport
  background-color: $bg2
  box-shadow: 0 0 2em #000
  margin: 0

